<header></header>
<section class="cityListArea">
    <div class="cityListBlock">
        <div class="title">
            <h4>List of cities</h4>
            <div class="rightSearch">
                <div class="searchInput">
                    <input type="text" [(ngModel)]="searchItem" placeholder="search city">
                    <span><i class="fas fa-search"></i></span>
                </div>
                <div class="addCity">
                    <button (click)="popup = true">+ Add City</button>
                </div>
            </div>
        </div>
        <div class="cityTableList">
            <table>
                <tr>
                  <th>No</th>
                  <th colspan="2">Name</th>
                
                </tr>
                <tr *ngFor="let item of cityDefault | filterSeacrh:searchItem ;index as i ">
                  <td>{{i+1}}</td>
                  <td (click)="showWeather(item.name)"><span>{{item.name}}</span></td>
                  <td><button (click)="removeCity(i)"><i class="fas fa-trash"></i></button></td>
                </tr>
              </table>
        </div>
    </div>
    
</section>

<section class="popupArea" *ngIf="popup">
    <div class="newCityAddBox">
        <div class="boxTilte">
            <h4>Add new city</h4>
            <button (click)="popup = false" >&#x2715;</button>
        </div>
        <div class="boxBody">
            <input type="text" #cityNameInput  placeholder="Add Title">
            <div class="actionBox">
                <button class="close" (click)="popup = false">Close</button>
                <button class="save" (click)="addCity(cityNameInput)">Save</button>
            </div>
        </div>
    </div>
</section>

<section class="popupArea"  *ngIf="reportPopup">
    <div class="weatherDetailsBox">
       <div class="my-row">
        <div class="my-col-7">
            <div class="cAndF">
                <div class="icon1"> 
                    <img src="../../assets/Img/weatherIcon/icon1.png" alt="icon1">
                </div>
                <div class="act">
                    <button [disabled]=disbaleTypeC class="active" (click)="cel(tempData)">C</button>
                    <button [disabled]=disbaleTypeF (click)="fah(tempData)" >F</button>   
                </div>
            </div>
            <div class="cel">
                <h1>{{tempData | number: '1.0-0'}} <sup>{{tempType}}</sup></h1>
            </div>
            <div class="dateAndTime">
                <h5>{{dateString  | date: 'dd/MM/yy' }}</h5>
                <h5><span>{{dateString  |  date:'EEEE' }}</span> {{dateString  |  date:'shortTime' }}</h5>
            </div>
            <ul>
                <li><img src="../../assets/Img/weatherIcon/w1.png" alt=""> Wind {{weahterReport.wind_speed}} km/h  <span>|</span> </li>
                <li><img src="../../assets/Img/weatherIcon/w2.png" alt=""> Hum {{weahterReport.humidity}}%  <span>|</span> </li>
                <li><img src="../../assets/Img/weatherIcon/w3.png" alt=""> Rain {{weahterReport.cloud_pct}} %  <span>|</span> </li>
            </ul>
        </div>
        <div class="my-col-5">
            <div class="topShow">
                <div class="cityT">
                    <p><img src="../../assets/Img/weatherIcon/map.png" alt="">  Jaipur</p>
                </div>
                <button (click)="reportPopup = false">&#x2715;</button>
            </div>
            <div class="sunSetting">
                <div class="sunRise sunB">
                    <h6>Sunrise</h6>
                    <div class="sBox">
                        
                       
                        <div class="imgB">
                            <img src="../../assets/Img/weatherIcon/s1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="sunSet sunB">
                    <h6>Sunset</h6>
                    <div class="sBox">
                       
                        <div class="imgB">
                            <img src="../../assets/Img/weatherIcon/s2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomData">
                <img src="../../assets/Img/weatherIcon/data1.png" alt="">
            </div>
        </div>
       </div>
    </div>
</section>